node_modules/
dist/
static01/
cubo_saltando/
AVI_para_MP4.bat
Cubo_full.aep
exports/
video_assets
Cubo_front.aep
Cubo_branding.aep
Cubo_branding.aep Logs/
Adobe After Effects Auto-Save
Cubo_full.aep Logs
Cubo_branding.avi
public/Cubo_branding.avi


